:root {
  --very-dark-blue-main-background: hsl(233, 47%, 7%);
  --dark-desaturated-blue-card-background: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--very-dark-blue-main-background);
  padding: 8.8rem 2.4rem 6.8rem;
}
@media screen and (min-width: 1024px) {
  body {
    padding: 17.7rem 2.4rem;
  }
}

img,
source {
  display: block;
  max-width: 100%;
}

.card {
  max-width: 32.7rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: var(--dark-desaturated-blue-card-background);
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.203087);
  border-radius: 8px;
}
@media screen and (min-width: 1024px) {
  .card {
    flex-direction: row-reverse;
    max-width: 111rem;
  }
}
.card__header {
  background-color: var(--soft-violet-accent);
}
@media screen and (min-width: 1024px) {
  .card__header {
    min-width: 54rem;
  }
}
.card__banner {
  mix-blend-mode: multiply;
  opacity: 0.75;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
}
.card__content {
  padding: 4rem 3.1rem 3.2rem 3.1rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .card__content {
    text-align: left;
    padding: 7.1rem 9.5rem 5.9rem 7.2rem;
  }
}
.card__title {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: var(--white);
}
.card__title strong {
  color: var(--soft-violet-accent);
}
@media screen and (min-width: 1024px) {
  .card__title {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}
.card__description {
  margin-top: 1.6rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}
@media screen and (min-width: 1024px) {
  .card__description {
    margin-top: 2.5rem;
    max-width: 37.4rem;
  }
}
.card__footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
@media screen and (min-width: 1024px) {
  .card__footer {
    flex-direction: row;
    margin-top: 7.2rem;
    gap: 6rem;
  }
}
.card__stat {
  display: flex;
  gap: 2px;
  flex-direction: column;
}
.card__stat strong {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-align: center;
  color: var(--white);
}
@media screen and (min-width: 1024px) {
  .card__stat strong {
    text-align: left;
  }
}
.card__stat sub {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.6;
}
@media screen and (min-width: 1024px) {
  .card__stat sub {
    text-align: left;
  }
}

/*# sourceMappingURL=styles.css.map */
